# Compiled Object files
*.slo
*.lo
*.o
*.sdf
*.ipch
*.obj
*.pdb
*.DS_Store
*.pch
*.idb
*.opensdf

# Visual Studio Files
*.opendb
*.suo
*.lastbuildstate
*.user
/.vs
/ipch

# Compilation Directories
/Lib
/Exe
/7Zip/Intermediate
/dll
/Debug Unicode/
/Debug/
/Release Unicode
/Release
export/
**/x64/

# Misc
*.log
*.tlog
